#card{
    display: grid;
    height: fit-content;
    width: fit-content;
    grid-template-areas:    "left rightUp"
                            "left rightDown ";
}

#idLeft{
    grid-area: left;
}
#idRightUp{
    grid-area: RightUp;
}
#idRightDown{
    grid-area: rightDown;
    text-align: right;
}