#galleryStyle
{
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 600px)
{
    #galleryStyle{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (min-width: 960px)
{
    #galleryStyle{
        grid-template-columns: 1fr 1fr 1fr;
    } 
}